## Git Configuration
GIT_USERNAME=<Git username>
GIT_TOKEN=<Git Personal Access Token>

## PostgreSQL Database Configuration
POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=dataprocessing_db
POSTGRES_PORT=5432

## Flower Configuration
FLOWER_USER=        # Set Flower username
FLOWER_PASSWORD=    # Set a strong Flower password
